body {
  font-size: 14px;
}

.table-container {
  overflow: auto;
}

table {
  display: table !important;
  max-width: 100%;
  text-align: left;
}

th {
  min-width: 100px;
  white-space: nowrap;
  background-color: #f5f6f7;
}

th:nth-child(1) {
  width: 10%;
}

th:nth-child(2) {
  width: 50%;
}

th:nth-child(3) {
  width: 10%;
}

th:nth-child(4) {
  width: 20%;
}

th:nth-child(5) {
  width: 10%;
}

.markdown-section tr:nth-child(2n) {
  background-color: inherit;
}
